.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  height: 440px;
  border: solid black;
}
